<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div *ngIf="!focu" class="header" text-center>
    <div>
        <h1 ion-text color="light">PrestaMovil</h1>
        <p ion-text color="light">Empleado</p>
    </div>
  </div>
  <div *ngIf="focu" text-center>
    <h1>PrestaMovil</h1>
  </div>
  <div class="contenido" padding-left padding-right>
    <form [formGroup]="formLogin" (submit)="logueo()" novalidate>
      <ion-list>
        <ion-item class="fondoTransparente">
          <ion-label floating>Usuario</ion-label>
          <ion-input 
            type="text"
            formControlName="user"
            [class.invalido]="!formLogin.controls.user.valid && formLogin.controls.user.dirty"
            (ionFocus)="enfoque()" 
            (ionBlur)="desenfoque()">
          </ion-input>
        </ion-item>
        <div *ngIf="!formLogin.controls.user.valid && formLogin.controls.user.dirty">
          <p padding-left ion-text color="danger">
            Ingrese correo valido
          </p>
        </div>
        <ion-item class="fondoTransparente">
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password" formControlName="password" (ionFocus)="focu=true" (ionBlur)="desenfoque()"></ion-input>
        </ion-item>
        <div *ngIf="!formLogin.controls.password.valid && formLogin.controls.password.dirty">
          <p padding-left ion-text color="danger">
            La contraseña debe tener minimo 6 caracteres
          </p>
        </div>
      </ion-list>
      <button ion-button block round [disabled]="!formLogin.valid" class="boton-minuscula">Iniciar sesión</button>
    </form>
  </div>
</ion-content>
