<!--
  Generated template for the PendientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Cobro {{globalSer.getCobro.name}}</ion-title>
    <ion-buttons end>
        <ion-row ion-text color="light">
          clientes :
          <strong>{{clientesLen}}</strong>
        </ion-row>
        <ion-row ion-text color="light">
          Prestamos :
          <strong>{{prestamosLen}}</strong>
        </ion-row>
      </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
      <ion-searchbar (ionInput)="searchCLiente()" [(ngModel)]="search" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list>
        <ng-container *ngFor="let cliente of pendientesAux; let i = index">
          <ion-item (tap)="openPrestamo(cliente,i)" (press)="selectList(cliente)" style="padding-top: 0px !important;padding-bottom: 0px !important">
            <ion-row>
              <ion-col col-8>
                {{cliente.name}} {{cliente.lastName}}
              </ion-col>
              <ion-col col-4 *ngIf="cliente.fecha==fechaActual">
                <strong>Cliente Nuevo</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ng-container *ngFor="let prestamo of cliente.prestamos">
                <ion-col col-5>
                  <p>
                    ({{(prestamo.countPrestamo/1000) | currency:"$":true:"1.0"}})<strong> {{(prestamo.resta)| currency:"$":true:"1.0"}}</strong>
                  </p>
                </ion-col>
                <ion-col col-7 align-self-end>
                  <p ion-text color="primary" *ngIf="!prestamo.pago && prestamo.resta != 0">Faltan {{restarFecha(prestamo.fechaFin,fechaActual)}} dias
                    <strong *ngIf="prestamo.fechaInicio==fechaActual">(Nuevo)</strong>
                  </p>
                  <p ion-text color="pago" *ngIf="prestamo.pago">
                    Pago {{prestamo.pago | currency:"$":true:"1.0"}}
                    <strong *ngIf="prestamo.fechaInicio==fechaActual">(Nuevo)</strong>
                    <strong ion-text color="danger" *ngIf="prestamo.resta==0">(Cancelado)</strong></p>
                  <!-- <p ion-text color="danger" *ngIf="prestamo.resta">Cancelado</p> -->
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-item>
        </ng-container>
      </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="mPrestamo()">
      <ion-icon name="logo-usd"></ion-icon>
    </button>
  </ion-fab>
</ion-content>